body {
    background: #FFB6C1;
}

 strong {
    color: orangered;
}

h2{
    text-align: center;
    font-size: 60px;
}

.itens{
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

